header{
    background-color: rgb(182, 125, 125); /*coloca cor de fundo */
    display: flex;
    font-size: 3em;            /*coloca tamanho da fonte */
    color: rgb(0, 0, 0);           /*coloca cor da fonte*/
    width: 100%;               /*coloca largura da janela */
    height: 85px;          /*coloca altura do espaço do cabeçalho */
    text-align: center;      /*alinha o texto do titulo */
    justify-content: space-between;    /*coloca espaço entre os objetos do cabeçalho */
    align-items: center; 
    margin: 1cqi ;        /*alinha os objeto ao centro vertical do espaço */

    }
.logotipo{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 5px;
    }
.botao_login {   
    width: 100px; 
    height: 40px;
    background-color: #0b0c0b;
    border-radius: 20px;
    border: none;
    color: #cfa8a8;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #9b5aa1, #8ee3ee);
}