header{
    background-color: black; /*coloca cor de fundo*/
    font-size: 20px;           /*coloca tamanho da fonte */
    color: aliceblue;        /*coloca cor da fonte*/
    width: 100%;               /*coloca largura da janela*/
    height: 40px;              /*coloca calcular do espaço do cabeçalho*/
    
    }
    